@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-white: #f7f7f7;
  --color-dark: #212121;
  --color-dark-2: #444;
  --color-orange: #ff4500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-white);
  color: var(--color-dark);
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
}

/* COMMON STYLES */
.container {
  max-width: 85vw;
  margin: 0 auto;
}

.section-padding {
  padding: 6rem 0;
}

.section-title {
  text-align: center;
  color: var(--color-orange);
  font-size: 2.4rem;
  margin-bottom: 6rem;
}

.btn {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 1.8rem 3.6rem;
  border-radius: 100px;
  font-weight: 500;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--color-orange);
  color: var(--color-dark);
}

.btn-primary {
  background-color: var(--color-orange);
}

.btn-primary:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}

/* NAVBAR STYLES */
nav {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}

.logo {
  color: var(--color-dark-2);
}

.logo span {
  color: var(--color-orange);
}

.menu-links {
  display: flex;
  gap: 2.4rem;
}

.link-item {
  color: var(--color-dark);
  position: relative;
  transition: 0.5s;
}

.link-item:hover {
  color: var(--color-orange);
}

.link-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: var(--color-orange);
  transition: 0.5s;
  transform: translateX(-50%);
}

.link-item:hover::after {
  width: 100%;
}

/* HERO STYLES */
.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: calc(100vh - 8rem);
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  position: relative;
}

.hero-left .glow {
  height: 25rem;
  width: 25rem;
  background: linear-gradient(to right, var(--color-orange), deeppink);
  position: absolute;
  top: -10rem;
  left: 10rem;
  z-index: -1;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.3;
}

.hero-left span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  color: var(--color-orange);
}

.hero-left h1 {
  font-size: 8rem;
  line-height: 1.1;
}

.hero-left p {
  width: 75%;
}

.hero-left a {
  display: inline-block;
  margin-top: 2rem;
}

.hero-right {
  position: relative;
  display: flex;
  justify-content: end;
}

.hero-right .glow-2 {
  height: 25rem;
  width: 25rem;
  background: linear-gradient(to left, skyblue, seagreen);
  position: absolute;
  bottom: 0;
  left: -10rem;
  z-index: -1;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.5;
}

.hero-right img {
  width: 80%;
}

/* SPONSORS STYLES */
.sponsors {
  display: flex;
  gap: 5rem;
}

.sponsors .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors .img img {
  width: 100%;
  filter: grayscale(1) brightness(0.3) opacity(0.3);
  transition: 0.5s;
}

.sponsors .img:hover img {
  filter: grayscale(0) brightness(1) opacity(1);
}

/* FEATURES STYLES */
.features-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10rem;
}

.features-wrapper .feature:nth-child(1) i {
  color: teal;
}

.features-wrapper .feature:nth-child(2) i {
  color: crimson;
}

.features-wrapper .feature:nth-child(3) i {
  color: yellowgreen;
}

.features-wrapper .feature:nth-child(4) i {
  color: indianred;
}

.features-wrapper .feature:nth-child(5) i {
  color: violet;
}

.features-wrapper .feature:nth-child(6) i {
  color: olivedrab;
}

.features-wrapper .feature:nth-child(7) i {
  color: goldenrod;
}

.features-wrapper .feature:nth-child(8) i {
  color: salmon;
}

.feature {
  background-color: #fff;
  padding: 5rem;
  border-radius: 20px;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.feature span i {
  font-size: 5rem;
}

.feature h3 {
  font-size: 2.4rem;
}

.feature p {
  opacity: 0.6;
}

.feature:hover {
  transform: translateY(-1.5rem);
}

/* PRICINGS STYLES */
.pricings-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.pricing-card {
  background-color: #fff;
  padding: 5rem;
  border-radius: 20px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.pricing-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
}

.pricing-price {
  font-size: 6rem;
  font-weight: 600;
  color: var(--color-orange);
}

.pricing-year {
  font-size: 2rem;
  color: var(--color-dark);
}

.pricing-features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pricing-features li {
  display: flex;
  gap: 2rem;
}

.pricing-features li:nth-child(6),
.pricing-features li:nth-child(7) {
  color: rgba(68, 68, 68, 0.3);
}

.fa-check {
  color: yellowgreen;
}

.fa-xmark {
  color: crimson;
}

.pricing-btn {
  background-color: var(--color-orange);
  width: 100%;
  padding: 2rem 0;
  border-radius: 10px;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.pricing-btn:hover {
  background-color: var(--color-dark);
}

.middle-card-alt-text {
  color: #fff;
}

.pricings-wrapper .pricing-card:nth-child(2) {
  background-color: var(--color-orange);
  color: #fff;
}

.pricings-wrapper .pricing-card:nth-child(2) .pricing-price {
  color: #fff;
}

.pricings-wrapper .pricing-card:nth-child(2) .pricing-btn {
  background-color: var(--color-dark);
}

.pricings-wrapper .pricing-card:nth-child(2) .pricing-btn:hover {
  background-color: #fff;
  color: var(--color-dark);
}

.pricings-wrapper .pricing-card:nth-child(2) .fa-check {
  color: #fff;
}

/* ABOUT STYLES */
.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.about-row {
  display: flex;
  gap: 10rem;
}

.img-col {
  flex: 1;
}

.img-col img {
  width: 100%;
}

.text-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.text-col h3 {
  font-size: 4.2rem;
  font-weight: 400;
}

.text-col p {
  color: var(--color-dark-2);
}

.btn-about {
  font-size: inherit;
  cursor: pointer;
}
