@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-white: #f7f7f7;
  --color-dark: #212121;
  --color-dark-2: #444;
  --color-orange: #ff4500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
  color: var(--color-dark);
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
}

/* COMMON STYLES */
.container {
  max-width: 85vw;
  margin: 0 auto;
}

.section-padding {
  padding: 6rem 0;
}

.section-title {
  text-align: center;
  color: var(--color-orange);
  font-size: 2.4rem;
  margin-bottom: 6rem;
}

.btn {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 1.8rem 3.6rem;
  border-radius: 100px;
  font-weight: 500;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--color-orange);
  color: var(--color-dark);
}

.btn-primary {
  background-color: var(--color-orange);
}

.btn-primary:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}

/* NAVBAR STYLES */
nav {
  height: 8rem;
  padding: 0 7.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(20px);
}

.logo {
  color: var(--color-dark-2);
}

.logo span {
  color: var(--color-orange);
}

.menu-links {
  display: flex;
  gap: 2.4rem;
}

.link-item {
  color: var(--color-dark);
  position: relative;
  transition: 0.5s;
}

.link-item:hover {
  color: var(--color-orange);
}

.link-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: var(--color-orange);
  transition: 0.5s;
  transform: translateX(-50%);
}

.link-item:hover::after {
  width: 100%;
}

.toggle-btn {
  display: none;
}

/* HERO STYLES */
.hero {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 10rem 0;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  position: relative;
}

.hero-left .glow {
  height: 25rem;
  width: 25rem;
  background: linear-gradient(to right, var(--color-orange), deeppink);
  position: absolute;
  top: -10rem;
  left: 10rem;
  z-index: -1;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.3;
}

.hero-left span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  color: var(--color-orange);
}

.hero-left h1 {
  font-size: 8rem;
  line-height: 1.1;
}

.hero-left p {
  width: 75%;
}

.hero-left a {
  display: inline-block;
  margin-top: 2rem;
}

.hero-right {
  position: relative;
  display: flex;
  justify-content: end;
}

.hero-right .glow-2 {
  height: 25rem;
  width: 25rem;
  background: linear-gradient(to left, skyblue, seagreen);
  position: absolute;
  bottom: 0;
  left: -10rem;
  z-index: -1;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.5;
}

.hero-right img {
  width: 80%;
}

/* SPONSORS STYLES */
.sponsors {
  display: flex;
  gap: 5rem;
}

.sponsors .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors .img img {
  width: 100%;
  filter: grayscale(1) brightness(0.3) opacity(0.3);
  transition: 0.5s;
}

.sponsors .img:hover img {
  filter: grayscale(0) brightness(1) opacity(1);
}

/* FEATURES STYLES */
.features-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10rem;
}

.features-wrapper .feature:nth-child(1) i {
  color: teal;
}

.features-wrapper .feature:nth-child(2) i {
  color: crimson;
}

.features-wrapper .feature:nth-child(3) i {
  color: yellowgreen;
}

.features-wrapper .feature:nth-child(4) i {
  color: indianred;
}

.features-wrapper .feature:nth-child(5) i {
  color: violet;
}

.features-wrapper .feature:nth-child(6) i {
  color: olivedrab;
}

.features-wrapper .feature:nth-child(7) i {
  color: goldenrod;
}

.features-wrapper .feature:nth-child(8) i {
  color: salmon;
}

.feature {
  background-color: #fff;
  padding: 5rem;
  border-radius: 20px;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.feature span i {
  font-size: 5rem;
}

.feature h3 {
  font-size: 2.4rem;
}

.feature p {
  opacity: 0.6;
}

.feature:hover {
  transform: translateY(-1.5rem);
}

/* PRICINGS STYLES */
.pricings-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.pricing-card {
  background-color: #fff;
  padding: 5rem;
  border-radius: 20px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.pricing-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
}

.pricing-price {
  font-size: 6rem;
  font-weight: 600;
  color: var(--color-orange);
}

.pricing-year {
  font-size: 2rem;
  color: var(--color-dark);
}

.pricing-features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pricing-features li {
  display: flex;
  gap: 2rem;
}

.pricing-features li:nth-child(6),
.pricing-features li:nth-child(7) {
  color: rgba(68, 68, 68, 0.3);
}

.fa-check {
  color: yellowgreen;
}

.fa-xmark {
  color: crimson;
}

.pricing-btn {
  background-color: var(--color-orange);
  width: 100%;
  padding: 2rem 0;
  border-radius: 10px;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.pricing-btn:hover {
  background-color: var(--color-dark);
}

.middle-card-alt-text {
  color: #fff;
}

.pricings-wrapper .pricing-card:nth-child(2) {
  background-color: var(--color-orange);
  color: #fff;
}

.pricings-wrapper .pricing-card:nth-child(2) .pricing-price {
  color: #fff;
}

.pricings-wrapper .pricing-card:nth-child(2) .pricing-btn {
  background-color: var(--color-dark);
}

.pricings-wrapper .pricing-card:nth-child(2) .pricing-btn:hover {
  background-color: #fff;
  color: var(--color-dark);
}

.pricings-wrapper .pricing-card:nth-child(2) .fa-check {
  color: #fff;
}

/* ABOUT STYLES */
.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.about-row {
  display: flex;
  gap: 10rem;
}

.img-col {
  flex: 1;
}

.img-col img {
  width: 100%;
}

.text-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.text-col h3 {
  font-size: 4.2rem;
  font-weight: 400;
}

.text-col p {
  color: var(--color-dark-2);
}

.btn-about,
.btn-form,
.close-download-btn {
  font-size: inherit;
  cursor: pointer;
}

/* SUPPORT STYLES */
.support-wrapper {
  display: flex;
  gap: 10rem;
}

.support-left {
  flex: 1;
}

.support-left img {
  width: 100%;
}

.support-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.support-right h3 {
  font-size: 4.2rem;
  font-weight: 400;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form-control label {
  cursor: pointer;
}

.form-control input,
textarea {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.02);
  font-family: inherit;
  font-size: inherit;
  border: 2px solid transparent;
  transition: 0.5s;
}

.form-control textarea {
  resize: none;
}

.form-control input:focus,
.form-control textarea:focus {
  border-color: var(--color-orange);
}

/* DOWNLOAD MODAL STYLES */
.download-modal,
.package-modal {
  height: 40rem;
  max-width: 60rem;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.02);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.download-modal.active,
.package-modal.active {
  visibility: visible;
  opacity: 1;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  visibility: hidden;
  opacity: 0;
}

footer {
  text-align: center;
  padding: 10rem;
  opacity: 0.75;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1366px) {
  .hero-left h1 {
    font-size: 6rem;
  }

  .features-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1280px) {
  .pricings-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 10rem;
  }

  .hero-right img {
    width: 100%;
  }

  .features-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-row {
    flex-direction: column;
  }

  .about-wrapper .about-row:last-child {
    flex-direction: column-reverse;
  }

  .support-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .menu-links {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    font-size: 4rem;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  .menu-links.active {
    visibility: visible;
    opacity: 1;
  }

  .toggle-btn {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    background-color: transparent;
    cursor: pointer;
    z-index: 1002;
  }

  .toggle-btn span {
    width: 30px;
    height: 2px;
    border-radius: 50px;
    background-color: var(--color-dark);
    display: inline-block;
    transition: 0.5s;
  }

  .toggle-btn span:nth-child(2) {
    width: 20px;
  }

  .toggle-btn.active span:nth-child(2) {
    transform: translateX(5rem);
    opacity: 0;
    visibility: hidden;
  }

  .toggle-btn.active span:nth-child(1) {
    transform-origin: left;
    transform: rotate(45deg);
  }

  .toggle-btn.active span:nth-child(3) {
    transform-origin: left;
    transform: rotate(-45deg);
  }

  .hero-left h1 {
    font-size: 4rem;
  }

  .hero-left p {
    width: 100%;
  }

  .features-wrapper {
    grid-template-columns: 1fr;
  }

  .pricings-wrapper {
    grid-template-columns: 1fr;
  }
}
